.sidebar {
  background: url("./../images/sidebarBg.jpg") no-repeat 100% /cover;
  width: 100vw;
  height: 100vh;

}

.sidebarInner {
  width: 100%;
  height: 100%;
  background-color: rgba(42, 42, 42, 0.95);
  gap: 15px;
  padding: 10px;
  position: relative;
  z-index: 77;
}

.menu {
  position: absolute;
  z-index: 99;
  bottom: 40px;
  left: 40px;
  cursor: pointer;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  color: #e7e4e4;
  align-items: center;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  box-shadow: -1px -1px 80px rgba(124, 149, 210, 0.78), 9px 9px 9px rgba(21, 7, 16, 0.78);
}

.activeMenu {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-shadow: -3px -2px 3px rgba(11, 94, 250, 0.79);
}

.minimize {
  width: 100px;
  height: 100px;
  margin: 20px;
}

.wrapper {
  background: #ffffff;
  height: 100%;
  width: 100vw;
}

.wrapper, .activeMenu, .menu, .minimize, .sidebar, .sidebarInner {
  transition: all .5s;
}

.content {
  display: none;
}

.activeContent {
  color: black;
  height: 100%;
  padding: 100px 50px;
  background-color: rgba(255, 255, 255, 0.89);
  display: block;
}


.activeInner {

}

.activeWrapper {

}

.topLine {
  display: none;
}

.topLineActive {

}